// variables for scss:

$font-stack: Glober,Roboto;
$body-font-size: 22px;

$separator-color: #cccccc;
$phone-color: #54b8cd;
$footer-link-color: #737373;
$intro-text-color: white;
$button-text-color: white;
$sticker-text-color: white;
$sticker-bg-color: #e87b15;
$most-popular-bg-color: #008ba4;
$most-popular-text-color: white;
$facts-border-color: black;
$guarantee-heading-color: #e87b15;
$as-seen-heading-bg-color: #4d823e;
$as-seen-heading-text-color: white;
$as-seen-text-color: black;
$science-bg-color: white;
$science-text-color: black;

$intro-bg: "../images/green-bg.png";
$highlight-bg: "../images/highlight.png";
$guarantee-bg: "../images/green-bg.png";
